.box{
	position:relative;
	border-radius:14px;
	overflow:hidden;
	background:#fff;
}

.box .m{
	position:relative;
	height:auto;
	padding:20px 0;
}

.box .m div.c{
	position:relative;
	padding:0 5px;
}
