/*---------------------------preview----------------------------*/
#right {
	float: right;
	width: 280px;
}
#left,
#right {
	transition: opacity 0.15s linear;
	box-shadow: 0 0 5px #000;
}
body.blocksFaded #left,
body.blocksFaded #right {
	opacity: 0.1;
	filter: alpha(opacity=10);
}
#left .m,
#right .m {
	height: 350px !important;
}
#screenHolder {
	position: relative;
	left: 12px;
	top: 5px;
	width: 245px;
	height: 245px;
	background: url(../images/bg_screen.gif) 0 0 no-repeat;
}
#screenHolder div {
	position: relative;
	left: 27px;
	top: 28px;
	width: 190px;
	height: 190px;
}

#progressbar {
	display: none;
	position: absolute;
	left: 36px;
	top: 28px;
	width: 199px;
	height: 199px;
}
#progressbar span {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/trash.svg);
}
#progressbar img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 31px;
	height: 37px;
	margin: -17px 0 0 -15px;
}

/*upload*/
#progressbar.upload {
	display: block !important;
}
#progressbar.upload img.upload {
	display: inline;
}
#progressbar.upload img.download {
	display: none;
}

/*upload*/
#progressbar.download {
	display: block !important;
}
#progressbar.download img.download {
	display: inline;
}
#progressbar.download img.upload {
	display: none;
}

#resultControls {
	width: 210px;
	margin: 13px 0 0 55px;
}
#resultControls a {
	display: block;
	margin: 0 0 10px 0;
	position: relative;
	padding: 0 0 0 30px;
	min-height: 18px;
	line-height: 18px;
	font-family: Georgia, Garamond, 'Times New Roman', sans;
	font-size: 16px;
	color: #3870b2;
	text-decoration: none;
}
#resultControls a:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
#resultDownload:before {
	background-image: url(../images/download.svg);
}
#resultShare:before {
	background-image: url(../images/share.svg);
}
#resultSave:before {
	background-image: url(../images/save.svg);
}

#iframeHolder {
	margin: -15px 0 0 0;
	width: 100%;
}
#footer {
	position: relative;
	height: 40px;
	background: url(../images/bg_wmodeControl.png) repeat-x;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_wmodeControl.png',sizingMethod='scale',enabled='true');
}
#footerboxes {
	float: right;
	width: 630px;
	height: 40px;
}
#footer .footerBox {
	height: 40px;
	overflow: hidden;
}
#smedias {
	float: left;
	margin: 0;
}
#wmodeSwitcher {
	float: left;
	margin: 0 0 0 15px;
}
#footer .footerBox ins.lb {
	display: block;
	float: left;
	width: 21px;
	height: 40px;
	background: url(../images/bg_footerBoxL.png) no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_footerBoxL.png',sizingMethod='crop',enabled='true');
}
#footer .footerBox ins.rb {
	display: block;
	float: left;
	width: 21px;
	height: 40px;
	background: url(../images/bg_footerBoxR.png) no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_footerBoxR.png',sizingMethod='crop',enabled='true');
}
#footer .footerBox span {
	display: block;
	padding: 15px 0 0 0;
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	background: url(../images/bg_footerBoxM.png) repeat-x;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_footerBoxM.png',sizingMethod='crop',enabled='true');
}
#footer #wmodeSwitcher span {
	width: 125px;
}
#footer #smedias span {
	padding: 19px 0 0 0;
	width: 390px;
}
#footer .footerBox span a {
	color: #53afd5;
	font-size: 16px;
	font-family: Georgia, Garamond, 'Times New Roman', sans;
	text-decoration: none;
	border-bottom: 1px dashed #53afd5;
}
#footer #smedias span a {
	opacity: 0.5;
	_filter: alpha(opacity=50);
	color: #272727;
	padding: 2px;
	border: none;
	text-decoration: none;
}
#footer #smedias span a:hover {
	opacity: 1;
	_filter: alpha(opacity=100);
}
#iframeWrapper {
	height: 100%;
	background: #272727;
}
#communityFrame {
	width: 100%;
	height: 900px;
	border: none;
}
/*
     FILE ARCHIVED ON 08:47:30 Sep 06, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:12:18 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.498
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 82.499
  LoadShardBlock: 176.99 (3)
  PetaboxLoader3.datanode: 425.567 (4)
  PetaboxLoader3.resolve: 47.641 (2)
  load_resource: 312.203
*/
