@font-face {
	font-family: Barrio;
	src: url('../fonts/Barrio-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	background: url(../permanents/defaultPattern.jpg) #222;
}

#logo {
	position: absolute;
	margin: 0px 0 0 10px;
	width: 360px;
	top: 10px;
	height: 78px;
	background: url(../images/icone.png) no-repeat;
	cursor: pointer;
}
#logo ins {
	display: none;
}
#logo span {
	display: block;
	position: absolute;
	left: 84px;
	top: 10px;
	font-family: Barrio, cursive;
	font-size: 30px;
	line-height: 1;
	color: rgba(0,0,0,0.9);
	text-shadow: 2px 2px 0px #fff, -2px -2px 0px #a285b3;
	white-space: nowrap;
}

#wrapper {
	width: 960px;
	margin: 70px auto 85px;
}
#wrapper.invisible {
	1visibility: hidden;
	display: none;
}
#wrapper.closed {
	display: none;
}

img {
	border: 0;
}
