a *{
	cursor:pointer;
}

a,embed,object {
	outline:none !important;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/*
     FILE ARCHIVED ON 08:49:02 Sep 06, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:12:22 Feb 11, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.805
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.008
  cdx.remote: 8.974
  LoadShardBlock: 244.227 (3)
  PetaboxLoader3.datanode: 452.805 (4)
  PetaboxLoader3.resolve: 116.224 (2)
  load_resource: 485.363
*/